<h1>Nueva Novedad</h1>

<%= form_for :project do |f| %>
 <div class="form-group">
  <%= f.label :user_id, "Cliente: ", class: 'control-label' %><br>
  <% if params[:project_id] %>
    <% if @projects %>
       <%= @projects.find(params[:project_id]).customer_name %>
       <%= f.hidden_field :user_id, value: @projects.find(params[:project_id]).user_id, class: 'form-control' %>
      <% else %>
       <%= @project.customer_name %>
       <%= f.hidden_field :user_id, :value => @project.user_id, class: 'form-control' %>
      <% end %>
  <% else%>
    <%= f.select :user_id, options_for_select(@customers.collect { |user|
    [user.nombre, user.id] }, 0), {prompt: 'Seleccione un Cliente'}, { class: "form-control", id: 'customer_select' } %>
  <% end %>
   </div>
 <hr size="1" />
<% end %>

<%= render 'form' %>

<h3> Archivos adjuntos: </h3>
<h4> Para agregar adjuntos, primero debe crear la Novedad y luego podrá hacerlo desde Editar o desde Ver Novedad.</h4>

<%= link_to 'Volver', :back, class: "btn btn-default"  %>
