<div class="container-fluid">
  <h1 align="center"><strong>Caso:</strong> <%= @notification.project.name %></h1>
  <h4 align="left"><strong>Título:</strong> <%= @notification.title %></h4>
  <h4 align="left"><strong>Fecha:</strong> <%= @notification.fecha %> </h4>
  <hr size="1" />

  <div class="panel panel-default">
    <div class="panel-heading" align="left">
       <strong>Detalle:</strong>
    </div>
    <div class="panel-body">
        <h5 align="left"><%= @notification.message %></h5>
    </div>
  </div>

  <%= read_mark_button @notification %>

  <hr size="1" />
  <h4 align="left">Adjuntos:</h4>

  <table  class="table">
    <thead>
      <tr>
        <th>Nro.</th>
        <th>Detalle adjunto</th>
        <th>Archivo adjunto</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @attachments.each do |attachment| %>
        <tr>
          <td><%= attachment.id %></td>
          <td><%= attachment.title %></td>
          <td>
            <% if attachment.profile_image_id? %>
           <!-- Collap -->
            <a class="btn btn-lg btn-info fa fa-eye collapsed" role="button" data-toggle="collapse" href="#collapse-<%= attachment.id %>" aria-expanded="false" aria-controls="collapseExample">
              Ver Archivo
            </a>
          <!-- /Collap -->
          <%= link_to " Descargar Adjunto", request.base_url + attachment.path, class: "btn btn-lg btn-success fa fa-cloud-download", target: "_black", download: attachment.title  %>
        <% end %>
         </td>
        </tr>
        <!-- Collapsed -->
        <tr>
          <td colspan="4" >
            <div style="height: 0px;" aria-expanded="false" class="collapse" id="collapse-<%= attachment.id %>">
              <div class="well">
                <!--/show attach -->
                  <% @attachment = attachment %>
                  <%= render partial: "attachments/show", object: @attachment %>
                <!--/show attach -->
              </div>
            </div>
         </td>
       </tr>
        <!-- /Collapsed -->
      <% end %>


    </tbody>
  </table>

  <hr size="1" />

<%= link_to 'Volver', :back %>
<%= link_to 'Edit', edit_notification_path(@notification) if current_user.tipo == 1 %>
<div>

  <% breadcrumb :notification, @notification %>
