<h2>¿Olvidó su clave?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, "Usuario (correo electrónico):", class: 'control-label' %><br />
    <%= f.email_field :email, autofocus: true, maxlength: "110", placeholder: "Ingrese su email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <div class="actions">
      <%= f.submit "Enviarme instrucción para nueva clave", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
