<%= form_for(@attachment) do |f| %>
  <% if @attachment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attachment.errors.count, "error") %> prohibited this attachment from being saved:</h2>
      <ul>
      <% @attachment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :notification_id, "Título novedad: ", class: 'control-label' %><br>
    <% if params[:notification_id] %>
      <div class="form-group">
        <%= @notification.title %>
        <br> <h4>Del caso:</h4>
        <%= @notification.project.name %>
        <%= f.hidden_field :notification_id, value: params[:notification_id], class: 'form-control' %>
      </div>
    <% else%>
      <%= @notification.title %>
      <%= f.hidden_field :notification_id, value: @notification.id, class: "form-control" %>
    <% end %>
    <hr size="1" />
  </div>

  <div class="form-group">
    <%= f.label :title, "Titulo adjunto", class: 'control-label' %><br>
    <%= f.text_field :title, placeholder: "ingrese un título descriptivo del archivo.", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :profile_image, "Archivos Adjuntos", class: 'control-label' %><br>
    <div class="input-group-btn">
      <%= f.attachment_field :profile_image, type: "file", class: "file-input-wrapper btn btn-default" %>
    </div>
  </div>

  <div>
    <% if @attachment.profile_image_id? %>
      <%= link_to image_tag(Refile.attachment_url(@attachment, :profile_image), height: '300', width: '300', alt: "#{@attachment.profile_image_filename}"), @attachment.path %>
    <% end %>
  </div>
  <br>
  <div class="form-group">
  <div class="actions">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
