<div class="container-fluid">

  <p>
    <% if @attachment.profile_image_id? %>
      <p> Pre-visualización del adjunto: </p>
      <% if @attachment.extension == "pdf" %>
        <iframe width='100%' height='800 px' src='<%= request.base_url + @attachment.path %>' frameborder='0' allowfullscreen></iframe>
      <% else %>
        <% #Esto esta así porque attachment_url de ReFile fallaba. %>
        <%= link_to image_tag(Refile.attachment_url(@attachment, :profile_image), height: '300', width: '300', alt: "#{@attachment.profile_image_filename}"), @attachment.path %>
       <% end %>
       <strong><%= link_to "Descargar Archivo", request.base_url + @attachment.path, {target: "_blank", download: @attachment.profile_image_filename,  title: "Presione botón derecho y la opción que dice \"Guardar enlace como...\" para descargar el archivo a su computadora.", onclick:"descargarArchivo()", id: "--download"  }  %></strong>

       <strong><%= link_to "controller download ", attachments_download_path(id: @attachment.id) %> </strong>


    <% end %>
  </p>

  <p>
    <strong>Tamaño del archivo:</strong>
    <%= @attachment.profile_image_size / 1024 if @attachment.profile_image_size %> Kb
  </p>
  <p>
    <strong>Detalle archivo:</strong>
    <%= @attachment.title %>
  </p>
  <p>
    <strong>Subido el:</strong>
    <%= @attachment.created_at.to_formatted_s(:long) %>
  </p>
<div>
