<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @attachment.title %>
</p>

<p>
  <strong>From notification:</strong>
  <%= @attachment.notification_id %>
</p>

<p>
  <strong>profile_image_id:</strong>
  <%= @attachment.profile_image_id %>
</p>

<p>
  <strong>profile_image_filename:</strong>
  <%= @attachment.profile_image_filename %>
</p>

<p>
  <strong>profile_image_size:</strong>
  <%= @attachment.profile_image_size %>
</p>

<p>
  <strong>profile_image_content_type:</strong>
  <%= @attachment.profile_image_content_type %>
</p>

<p>
  <strong>created_at:</strong>
  <%= @attachment.created_at %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', :back %>
