<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @news.project %>
</p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @news.date %>
</p>

<p>
  <strong>Message:</strong>
  <%= @news.message %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_path %>
