<p id="notice"><%= notice %></p>

<p>
  <strong>Caso:</strong>
  <%= @news.project.name %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @news.date %>
</p>

<p>
  <strong>T&iacute;tulo:</strong>
  <%= @news.title %>
</p>



<p>
  <strong>Mensaje:</strong>
  <%= @news.message %>
</p>

<%= link_to 'Atrás', news_path %>
<p>
Opciones del Admin.
<%= link_to 'Edit', edit_news_path(@news) %>
