<div>
  <% if user_signed_in? %>
    Bienvenido <strong><%= current_user.nombre %></strong> - Cliente.
    <ul class="navbar-text navbar-right">
    <li class="active" title="Estas identificado como: <%= current_user.email %>">Identificado: <strong><%= current_user.email %></strong>.</li>
    <li><%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
  <% end %>

  <% if current_user.habilitado? %>
    <div> Tenes la cuota al dia, podes ver tus novedades </div>
  <% else %>
    <div>Su usuario ha sido deshabilitado, por favor comuniquese con el Dr. Cosme Fulanito (mail@mail.com)</div>
  <% end %>
</div>
