<div>
  <% if user_signed_in? %>
    Bienvenido <strong><%= current_user.nombre %></strong> - Cliente.
    <ul class="navbar-text navbar-right">
    <li class="active" title="Estas identificado como: <%= current_user.email %>">Identificado: <strong><%= current_user.email %></strong>.</li>
    <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
  <% end %>
  
  <!--/Bienvenida -->
  <% if user_signed_in? %>
    <%= render partial: "bienvenida"  %>
  <% end %>
  <!--/bienvenida -->
</div>
