<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_id, "Cliente", class: 'control-label' %><br>
    <% users_array = User.all.where(tipo: 2).map { |user| [user.nombre, user.id] } %>
    <%= f.select(:user_id, users_array, {prompt: 'Seleccione un Cliente', selected: @project.user_id}, class: "form-control", id: "customer_select" )  %>
  </div>


  <div class="form-group">
    <%= f.label :name, 'Carátula Caso: ', class: 'control-label' %><br>
    <%= f.text_field :name, placeholder: "ingrese la carátula del caso." , class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :judicial_record_number, 'Expediente N°', class: 'control-label' %><br>
    <%= f.text_field :judicial_record_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :court, 'Juzgado' , class: 'control-label' %><br>
    <select class="form-control" id="select" name="project[court]">
      <option selected="selected" value="<%= @project.court %>"><%= court_name(@project.court.to_i - 1) %></option>

      <%= select_court %>
     </select>
  </div>
  <div class="form-group">
  <div class="actions">
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>

<% end %>
