<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @project.customer_name %>
</p>

<p>
  <strong>Nombre del Proyecto:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Última actualización:</strong>
  <%= @project.last_update %>
</p>



<%= link_to 'Editar', edit_project_path(@project), class: "btn btn-default"  if current_user.is_admin? %>
<%= link_to 'Volver', :back, class: "btn btn-default"  %>
<%= link_to 'Lista Poryectos', projects_path, class: "btn btn-default"  %>
