<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @project.customer_name %>
</p>

<p>
  <strong>Carátula Caso:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Expediente N°:</strong>
  <%= @project.judicial_record_number %>
</p>

<p>
  <strong>Juzgado N°:</strong>
  <%= court_name(@project.court) %>
</p>


<p>
  <strong>Última actualización:</strong>
  <%= @project.last_update %>
</p>



<%= link_to 'Editar', edit_project_path(@project), class: "btn btn-default"  if current_user.tipo == 1 %>
<%= link_to 'Volver', :back, class: "btn btn-default"  %>
<%= link_to 'Lista Casos', projects_path, class: "btn btn-default"  %>
