
<p>
  <strong>Nombre:</strong>
  <%= @user.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Habilitado:</strong>
  <%= @user.habilitado %>
</p>

<p>
  <strong>Tipo usuario:</strong>
  <%= @user.tipo %>
</p>

<% #Si es admini, mostrar los otros datos de Devise. %>
<% if user_signed_in? && current_user.tipo == 1  %>

<% end %>


<%= link_to 'Editar Usuario',edit_user_registration_path, :class => 'btn btn-default' %> |
<%= link_to 'Atrás', :back, :class => 'btn btn-default' %>

