<%# add navigation links to this file %>

<li class="active"><%= link_to 'Inicio',  root_path, class: "active" %></li>
<% if user_signed_in? %>
<li><%= link_to 'Clientes',  pages_home_path %></li>
<li ><%= link_to 'Casos',   projects_path %></li>
<li role="separator" class="divider"></li>
<li><%= link_to 'About', pages_about_path %></li>
<li role="separator" class="divider"></li>
<% else %>
<li><%= link_to 'Acerca de', pages_about_path %></li>
<% end %>
<li role="separator" class="divider"></li>
