<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Novedades Terciar" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Novedades Terciar" %>">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
       <!-- Navegación -->
         <%= breadcrumbs pretext: "", separator: " &rsaquo; ", style: :bootstrap %>
       <!-- /Navegación -->
    </main>

    <!-- Pie -->
<hr>
  <footer class="bottom">
    <div class="container hidden-xs">
     <ul class="nav navbar-nav pull-left">
       <li><a href="https://github.com/matiasmasca/novedades" class="fa fa-rocket"> Powered by Novedades - <time datetime="2015-06-01">2015</time></a></li>
       <li><%= link_to ' Acerca de', pages_about_path, class: "fa fa-info-circle" %></li>
       <li><%= link_to ' Contacto',  pages_contact_path, class: "fa fa-barcode" %></li>
     </ul>
   </div>

   <div class="container visible-xs">
     <p class="navbar-text pull-left">Powered by Novedades - <time datetime="2015-06-01">2015</time></p>
     <a href="https://github.com/matiasmasca/novedades" class="navbar-btn btn-info btn pull-right">Novedades</a>
   </div>
 </footer>


  </body>
</html>
